.brand__logo,
form {
    color: $white;
}

p,
::placeholder {
    color: $granite-gray;
}

a {
    color: $smoky-black;
}

.cta__footer,
input {
    background-color: $white;
}

.brand,
fieldset {
    background-color: $smoky-black;
}