@keyframes balancear-submit {
    0% {
        transform: rotate(95deg);
    }

    10% {
        transform: rotate(85deg);

    }

    20% {
        transform: rotate(94deg);
    }

    30% {
        transform: rotate(86deg);
    }

    40% {
        transform: rotate(93deg);

    }

    50% {
        transform: rotate(87deg);
    }

    60% {
        transform: rotate(92deg);
    }

    70% {
        transform: rotate(88deg);

    }

    80% {
        transform: rotate(91deg);
    }

    90% {
        transform: rotate(89deg);
    }

    100% {
        transform: rotate(90deg);
    }
}