.btn-cta {
    border: 2px solid $granite-gray;
    padding: .125rem .825rem;
    font-weight: 700;

    @include breakpoint($bp-md) {
        border: 1px solid $granite-gray;
        padding: .5rem 2rem;
    }

    &:hover,
    &:focus {
        border-color: $light-gray;
    }

    &:focus {
        color: $light-gray;
    }
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    transition: color .25s, background-color .25s;

    span {
        transform: rotate(90deg);
    }

    @include breakpoint($bp-md) {
        width: 3rem;
    }

    &:hover {
        border: 1px solid $granite-gray;
        background-color: $smoky-black;
        color: $white;
    }

    &:focus {
        background-color: $granite-gray;
    }
}