.hero {
    height: calc((220 * 100) / 667) + vh;
    z-index: 1000;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    @include breakpoint($bp-md) {
        height: calc((335*100) / 1024) + vh;

        img {
            object-position: 50% 30%;
        }
    }

    @include breakpoint($bp-lg) {
        height: 100%;
        width: calc((735*100) / 1280) + vw;
    }

}